@mixin footer {
	
	min-height: 100px;
	background-color: rgba(0, 0, 0, .9);
	color: $text-color;
	margin-top: 30px;
	p {
		font-weight: bold;
		font-size: 20px;
		padding: 5px 0 0 0;
		font-family: $text-font;
	}
	ul {
		padding-left: 0;
	}
	li {
		list-style: none;
		font-family: $text-font;
		font-size: 16px;
	}
	a {
		color: $text-color;
		&:hover {
			text-decoration: none;
			color: $text-color;
		}
	}
	p.cr {
		float: right;
		font-size: 10px;
		margin-top: 70px;
	}

}